<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ metadata.description }}">
    <title>{% if title %}{{ title }} — {% endif %}{{ metadata.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <span class="pagename">{{ metadata.title }}&nbsp;</span>

                {%- for item in metadata.navigation %}
                <a href="{{ item.url }}">{{ item.label }}</a>
                {%- endfor %}

        </div>
    </nav>

    <div style="height: 4rem;"></div>

    <main class="container">
        {{ content | safe }}
    </main>

    <footer class="container">
        <p><small>&copy; {{ metadata.author }} 2024. Built with <a href="https://www.11ty.dev/">11ty</a> and <a href="https://github.com/owenversteeg/entireframework">entireframework</a>.</small></p>
    </footer>
</body>
</html>
